<%- include("partials/header.ejs") %>
    <div class="blogs">
        <% if(locals.blogs){ %>
            <div>
                <% blogs.forEach((blog)=>{ %>
                    <div class="individual-blog">
                        <h1>
                            <%= blog.title %>
                        </h1>
                        <p>
                            <%= blog.description %>
                        </p>
                    </div>
                    <% }); %>
            </div>
            <% } %>
                <a href="/add"><img src="/images/plus.png" alt="add"></a>
    </div>

    <%- include("partials/footer.ejs") %>