@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;1,6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Nunito-sans, sans-serif;
    box-sizing: border-box;
    
}
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px calc((100vw-1300px)/2);
    background-color: #89CFF0;
}
div.nav-logo{
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
}

.nav_items ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav_items ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    padding: 10px;
    font-family: "Lora", serif;
}
.nav_items ul li a:hover {
    color: #fff;
    background-color: #007ACC;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.container{
    background-color: #FAF8F5;
    height: 100vh;
}
.blogs{
    width: auto;
    padding: 10% 20%;
}
.inner{
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.individual-blog{
    width: 270px;
    height: 200px;
    margin: 0 10px;
    padding: 10px;
    position: relative;
    background-color: #CCCCFF;
}

.heading{
    width: 90%;
    height: 60%;
    
    padding: 5px;
}
.explain{
    width: 90%;
    height: 40%;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
}
#add {
    position: relative;
    width: 270px;
    height: 200px;
    padding: 10px;
    margin: 0 10px;
    background-color: #FAF6;

}
#img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25%;
    left: 30%;
}
.no-blog{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
}
.no-blog a,#submit,#reset{
    font-family: "Lora", serif;
    padding: 5px 20px;
    width: 150px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.no-blog a:hover{
    box-shadow: 0 0 10px 0 #76add1 inset, 0 0 10px 4px #5ba9de;
    color: #007ACC;
}
.create-blog,.content{
    position: relative;
    top: 100px;
    left: 20%;
}
.content{
    display: inline-block;
}
#blog-number,.title-area,.description-area{
    width: 600px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    font-family: "Lora", serif;
    font-size: 24px;
}
.description-area{
    height: 100px;
    font-size: medium;
}
.buttons{
    margin: 20px;
}
#submit:hover,#reset:hover{
    box-shadow: 0 0 10px  #76add1 inset, 0 0 10px 4px #5ba9de;
    color: #eeeff0;
}
.page-title{
    font-family: "Lora", serif;
    font-size: 48px;
    font-weight: 900;
    margin: 5px;
}
.page-description{
    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
}
.foot{
    background-color: #4169E1;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px;
}
.social-media{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.social-media img{
    height: 40px;
    width: 40px;
    margin: 10px;
    
}
.copy-right-policy{
    display: flex;
    justify-content: space-between;
    gap: 800px;
    
}
.copy-right a,.policy a{
    text-decoration: none;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin: 10px; 
}